[core]
	autocrlf = true
[user]
	email = maicolbattistini@live.it
	name = Maicol Battistini
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINsTYhlq5t/r3eawNERL09+PltjDh+fLQO1gE5TgWGmr
[credential]
	helper = store

[init]
	defaultBranch = main
[pull]
	rebase = false

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/mnt/c/Users/Maicol/AppData/Local/1Password/app/8/op-ssh-sign.exe"

[commit]
  gpgsign = true


[includeIf "hasconfig:remote.*.url:https://gitlab*/**"]
	path = .gitlab.gitconfig