[core]
	autocrlf = input
	sshCommand = ssh.exe
	eol = lf
[user]
	email = maicolbattistini@live.it
	name = Maicol Battistini
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINsTYhlq5t/r3eawNERL09+PltjDh+fLQO1gE5TgWGmr

[credential]
	helper = store

[init]
	defaultBranch = main

[pull]
	rebase = false

[gpg]
  format = ssh

[gpg "ssh"]
	program = /mnt/c/Users/Maicol/AppData/Local/1Password/app/8/op-ssh-sign.exe
	allowedSignersFile = /home/maicol07/.ssh/allowed_signers

[commit]
  gpgsign = true

[cola]
	spellcheck = false
	statusshowtotals = true
[gui]
	editor = gea
[remote "origin"]
	tagopt = --tags
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "hasconfig:remote.*.url:git@gitlab.trust-itservices.com"]
	path = .gitlab.gitconfig

[includeIf "gitdir:~/Projects/Trust-IT/"]
	path = .gitlab.gitconfig

[diff]
tool = araxis
[difftool "araxis"]
cmd = '/mnt/c/Program Files/Araxis/Araxis Merge/arx_wsl_git_compare' $BASE $LOCAL $REMOTE

[merge]
tool = araxis
[mergetool "araxis"]
cmd = '/mnt/c/Program Files/Araxis/Araxis Merge/arx_wsl_git_merge' $BASE $LOCAL $REMOTE $MERGED

[alias]
ad = difftool --tool=araxis --dir-diff --no-symlinks
ads = difftool --tool=araxis --dir-diff --no-symlinks --staged
[safe]
	directory = /home/maicol07/Projects/Trust-IT/oih-ui-docker
	directory = /home/maicol07/Projects/Trust-IT/oih-ui-docker/frontend
	directory = /home/maicol07/Projects/Trust-IT/oih-ui-docker/api
	directory = /home/maicol07/Projects/Trust-IT/oih-ui-docker/indexer
